@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
html {
  font-size: 62.5%;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.image-mobile {
  display: none;
}

@media (max-width: 768px) {
  .image-mobile {
    display: block;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
}

body {
  background-color: #090b1a;
  font-family: 'Inter', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    min-height: 100vh;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1b1938;
  border-radius: 1rem;
  max-width: 1110px;
}

@media (max-width: 768px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 88%;
    margin: 5% 0;
  }
}

.card .text-block {
  padding: 7rem 0 7rem 7rem;
  width: 55%;
}

@media (max-width: 768px) {
  .card .text-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 3rem;
  }
}

.card .text-block .content {
  width: 80%;
}

@media (max-width: 1050px) {
  .card .text-block .content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .card .text-block .content {
    text-align: center;
  }
}

.card .text-block .content .title {
  font-size: 3.4rem;
  font-weight: 700;
  color: white;
}

.card .text-block .content .title span {
  color: #aa5cdb;
}

@media (max-width: 425px) {
  .card .text-block .content .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 375px) {
  .card .text-block .content .title {
    font-size: 2rem;
  }
}

.card .text-block .content .description {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.7;
  font-size: 1.7rem;
  font-family: 'Lexend Deca', sans-serif;
}

@media (max-width: 768px) {
  .card .text-block .content .description {
    font-size: 1.3rem;
  }
}

@media (max-width: 375px) {
  .card .text-block .content .description {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .card .text-block .content .description {
    font-size: 1.5rem;
  }
}

.card .text-block .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .card .text-block .stats {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 425px) {
  .card .text-block .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
}

.card .text-block .stats .stat-items {
  margin-right: 9rem;
}

@media (max-width: 768px) {
  .card .text-block .stats .stat-items {
    margin: 0;
  }
}

@media (max-width: 425px) {
  .card .text-block .stats .stat-items {
    margin-top: 2rem;
  }
}

.card .text-block .stats .stat-number {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

.card .text-block .stats .stat-name {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.2rem;
}

.card .img-block {
  position: relative;
  background-color: #aa5cdb;
  border-radius: 0 1rem 1rem 0;
}

@media (max-width: 768px) {
  .card .img-block {
    border-radius: 1rem 1rem 0 0;
  }
}

.card .img-block img {
  mix-blend-mode: multiply;
  height: 100%;
}

.card .img-block .image-desktop {
  mix-blend-mode: multiply;
}

@media (max-width: 768px) {
  .card .img-block .image-desktop {
    display: none;
  }
}

.card .img-block .filter {
  background-color: #aa5cdb;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  border-radius: 0 1rem 1rem 0;
}

@media (max-width: 768px) {
  .card .img-block .filter {
    border-radius: 1rem 1rem 0 0;
  }
}
/*# sourceMappingURL=style.css.map */